<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button menuToggle ion-button icon-only>
              <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{this.db.place}}</ion-title>
        <ion-buttons right>
          <button ion-button icon-only (click) ="openFacet()">
              <ion-icon name="search"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content color="light">
  <ion-list>
    <ion-item-divider color="light" *ngIf="db.homes.length!=1">{{db.homes.length}} results</ion-item-divider>
    <ion-item-divider color="light" *ngIf="db.homes.length==1">{{db.homes.length}} result</ion-item-divider>
    <ion-grid no-padding>
        <ion-row>
          <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let h of db.homes | slice:0:last;">
            <ion-card class="home-card">
              <img (click)="goToHomeDetail(h)" src={{h.thumbnail.url}} style="height: 30vh"/>
              <ion-card-content (click)="goToHomeDetail(h)">
                    <ion-card-title text-capitalize style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                      {{h.title}}
                    </ion-card-title>
                    <p>
                        <ion-icon name="calendar"></ion-icon>
                        {{h.datePosted}}
                    </p>
                    <p class="info" *ngIf="h.info.length>0">
                        {{h.info}}
                    </p>
                    <p *ngIf="h.info.length==0">
                      <br>
                    </p>
              </ion-card-content>
              <ion-row *ngIf="auth.getCurrentUser()!=null">
                  <ion-col *ngIf="h.userBookmarked==true">
                    <button (click)="removeFromFavourites(h)" ion-button clear small color="accent" icon-start>
                      <ion-icon name='bookmark'></ion-icon>
                      Bookmark
                    </button>
                  </ion-col>
                  <ion-col *ngIf="h.userBookmarked!=true">
                    <button (click)="addToFavourites(h)" ion-button clear small color="primary" icon-start>
                      <ion-icon name='bookmark'></ion-icon>
                      Bookmark
                    </button>
                  </ion-col>
                  <ion-col text-center>
                    <button (click)="editHome(h)" ion-button clear small color="accent" icon-start>
                      <ion-icon name='create'></ion-icon>
                      Edit
                    </button>
                  </ion-col>
                  <ion-col text-right>
                    <button (click)="removeHome(h)" ion-button clear small color="danger" icon-start>
                      <ion-icon name='trash'></ion-icon>
                      Remove
                    </button>
                  </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="last < db.homes.length">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more homes..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
 <ion-fab bottom right >
    <button ion-fab (click)="presentModal()" color="accent">
        <ion-icon *ngIf="this.auth.getCurrentUser()!=null" name="add"></ion-icon>
        <ion-icon *ngIf="this.auth.getCurrentUser()==null" name="log-in"></ion-icon>
    </button>
 </ion-fab>
</ion-content>
