<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button menuToggle ion-button icon-only>
              <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Homes</ion-title>
        <ion-buttons right>
          <button ion-button icon-only (click) ="openFacet()">
              <ion-icon name="search"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-divider color="light">{{numHomes}} results</ion-item-divider>
        <ion-card #item *ngFor="let h of homes">
        <ion-item-sliding #slidingItem *ngIf="auth.getCurrentUser()!=null" >
            <button ion-item (click)="goToHomeDetail(h)">
                <ion-thumbnail item-start>
                    <img src={{h.thumbnail.url}}>
                </ion-thumbnail>
                <h2 text-capitalize><a>{{h.title}}</a></h2>
                <p>Status: {{h.status}}</p>
            </button>
            <ion-item-options>
                <button *ngIf="auth.getCurrentUser().uid!=h.userID" ion-button (click)="addToFavourites(h.id, slidingItem)" color="accent">
                    <ion-icon name="bookmark"></ion-icon>
                    Bookmark
                </button>
                <button ion-button (click)="editHome(h, slidingItem)" color="accent">
                    <ion-icon name="create"></ion-icon>
                    Edit
                </button>
                <button *ngIf="auth.getCurrentUser().uid==h.userID" ion-button (click)="removeHome(h.id, slidingItem)" color="danger">
                    <ion-icon name="trash"></ion-icon>
                    Remove
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <button ion-item *ngIf="auth.getCurrentUser()==null" (click)="goToHomeDetail(h)">
            <ion-thumbnail item-start>
                <img src={{h.thumbnail.url}}>
            </ion-thumbnail>
            <h2 text-capitalize><a>{{h.title}}</a></h2>
            <p>Status: {{h.status}}</p>
        </button>
        </ion-card>
    </ion-list>
    <ion-fab bottom right>
       <button ion-fab (click)="presentModal()" color="accent"><ion-icon name="home"></ion-icon></button>
    </ion-fab>
</ion-content>
