page-history {
    .info{
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
    }
}
$popover-md-width:                     250px !default;
$popover-md-min-width:                 0 !default;
$popover-md-min-height:                0 !default;
$popover-md-max-height:                90% !default;

$popover-md-border-radius:             2px !default;
$popover-md-text-color:                #000 !default;
$popover-md-background:                #fafafa !default;
$popover-md-box-shadow-color:          rgba(0, 0, 0, .3) !default;
$popover-md-box-shadow:                0 3px 12px 2px $popover-md-box-shadow-color !default;