<!--
  Generated template for the ImagePickerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Choose images</ion-title>
    <ion-buttons left>
      <button (click)="closeWindow()" ion-button >
            <ion-icon style="font-size: 20px;" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="images.length==0" padding>
        <ion-item>
            <ion-row>
              <ion-col text-center>
                  You haven't stored any gallery photos yet.
              </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-4 *ngFor="let image of images">
            <div *ngIf="image.selected==false" (click)="addPhoto(image)">
                <img [src]="image.url">
            </div>
            <div style="border-color: #448AFF; border-width: 4px; border-style: solid" *ngIf="image.selected==true" (click)="removePhoto(image)">
                <img [src]="image.url">
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab *ngIf="images.length>0" bottom right>
       <button ion-fab color="accent" (click)="choosePhotos()"><ion-icon name="checkmark"></ion-icon></button>
    </ion-fab>
</ion-content>
